In [2]:
import numpy as np
import pandas as pd

In [9]:
accidents =  pd.read_csv('Accident_Information.csv',encoding='latin1',low_memory=False)

In [4]:
vehicles = pd.read_csv('Vehicle_Information.csv',encoding='latin1')

In [10]:
accidents.head()

,Accident_Index,1st_Road_Class,1st_Road_Number,2nd_Road_Class,2nd_Road_Number,Accident_Severity,Carriageway_Hazards,Date,Day_of_Week,Did_Police_Officer_Attend_Scene_of_Accident,...,Police_Force,Road_Surface_Conditions,Road_Type,Special_Conditions_at_Site,Speed_limit,Time,Urban_or_Rural_Area,Weather_Conditions,Year,InScotland
0,200501BS00001,A,3218.0,NaN,0.0,Serious,None,2005-01-04,Tuesday,1.0,...,Metropolitan Police,Wet or damp,Single carriageway,None,30.0,17:42,Urban,Raining no high winds,2005,No
1,200501BS00002,B,450.0,C,0.0,Slight,None,2005-01-05,Wednesday,1.0,...,Metropolitan Police,Dry,Dual carriageway,None,30.0,17:36,Urban,Fine no high winds,2005,No
2,200501BS00003,C,0.0,NaN,0.0,Slight,None,2005-01-06,Thursday,1.0,...,Metropolitan Police,Dry,Single carriageway,None,30.0,00:15,Urban,Fine no high winds,2005,No
3,200501BS00004,A,3220.0,NaN,0.0,Slight,None,2005-01-07,Friday,1.0,...,Metropolitan Police,Dry,Single carriageway,None,30.0,10:35,Urban,Fine no high winds,2005,No
4,200501BS00005,Unclassified,0.0,NaN,0.0,Slight,None,2005-01-10,Monday,1.0,...,Metropolitan Police,Wet or damp,Single carriageway,None,30.0,21:13,Urban,Fine no high winds,2005,No

In [46]:
accidents.dtypes

Accident_Index                                  object
1st_Road_Class                                  object
1st_Road_Number                                float64
2nd_Road_Class                                  object
2nd_Road_Number                                float64
Accident_Severity                               object
Carriageway_Hazards                             object
Date                                            object
Day_of_Week                                     object
Did_Police_Officer_Attend_Scene_of_Accident    float64
Junction_Control                                object
Junction_Detail                                 object
Latitude                                       float64
Light_Conditions                                object
Local_Authority_(District)                      object
Local_Authority_(Highway)                       object
Location_Easting_OSGR                          float64
Location_Northing_OSGR                         float64
Longitude                                      float64
LSOA_of_Accident_Location                       object
Number_of_Casualties                             int64
Number_of_Vehicles                               int64
Pedestrian_Crossing-Human_Control              float64
Pedestrian_Crossing-Physical_Facilities        float64
Police_Force                                    object
Road_Surface_Conditions                         object
Road_Type                                       object
Special_Conditions_at_Site                      object
Speed_limit                                    float64
Time                                            object
Urban_or_Rural_Area                             object
Weather_Conditions                              object
Year                                             int64
InScotland                                      object
dtype: object

In [45]:
for a in accidents.columns:
    try:
        print('\n'+ a + ':\n', np.sort(accidents[a].unique()))
    except:
        print('\n'+ a + ':\n', accidents[a].unique())

Accident_Index:
 ['200501BS00001' '200501BS00002' '200501BS00003' ... '2016984131216'
 '2016984131316' '2016984133416']

1st_Road_Class:
 ['A' 'A(M)' 'B' 'C' 'Motorway' 'Unclassified']

1st_Road_Number:
 [0.000e+00 1.000e+00 2.000e+00 ... 9.963e+03 9.999e+03       nan]

2nd_Road_Class:
 [nan 'C' 'Unclassified' 'B' 'A' 'Motorway' 'A(M)']

2nd_Road_Number:
 [0.000e+00 1.000e+00 2.000e+00 ... 9.965e+03 9.999e+03       nan]

Accident_Severity:
 ['Fatal' 'Serious' 'Slight']

Carriageway_Hazards:
 ['Any animal in carriageway (except ridden horse)'
 'Data missing or out of range' 'None' 'Other object on road'
 'Pedestrian in carriageway - not injured' 'Previous accident'
 'Vehicle load on road']

Date:
 ['2005-01-01' '2005-01-02' '2005-01-03' ... '2016-12-29' '2016-12-30'
 '2016-12-31']

Day_of_Week:
 ['Friday' 'Monday' 'Saturday' 'Sunday' 'Thursday' 'Tuesday' 'Wednesday']

Did_Police_Officer_Attend_Scene_of_Accident:
 [ 1.  2.  3. nan]

Junction_Control:
 ['Authorised person' 'Auto traffic signal' 'Data missing or out of range'
 'Give way or uncontrolled' 'Not at junction or within 20 metres'
 'Stop sign']

Junction_Detail:
 ['Crossroads' 'Data missing or out of range' 'Mini-roundabout'
 'More than 4 arms (not roundabout)' 'Not at junction or within 20 metres'
 'Other junction' 'Private drive or entrance' 'Roundabout' 'Slip road'
 'T or staggered junction']

Latitude:
 [49.912941 49.913077 49.914145 ... 60.724682 60.757544       nan]

Light_Conditions:
 ['Darkness - lighting unknown' 'Darkness - lights lit'
 'Darkness - lights unlit' 'Darkness - no lighting'
 'Data missing or out of range' 'Daylight']

Local_Authority_(District):
 ['Aberdeen City' 'Aberdeenshire' 'Adur' 'Allerdale' 'Alnwick'
 'Amber Valley' 'Angus' 'Argyll and Bute' 'Arun' 'Ashfield' 'Ashford'
 'Aylesbury Vale' 'Babergh' 'Barking and Dagenham' 'Barnet' 'Barnsley'
 'Barrow-in-Furness' 'Basildon' 'Basingstoke and Deane' 'Bassetlaw'
 'Bath and North East Somerset' 'Bedford' 'Berwick-upon-Tweed' 'Bexley'
 'Birmingham' 'Blaby' 'Blackburn with Darwen' 'Blackpool' 'Blaenau Gwent'
 'Blyth Valley' 'Bolsover' 'Bolton' 'Boston' 'Bournemouth'
 'Bracknell Forest' 'Bradford' 'Braintree' 'Breckland' 'Brent' 'Brentwood'
 'Bridgend' 'Bridgnorth' 'Brighton and Hove' 'Bristol, City of'
 'Broadland' 'Bromley' 'Bromsgrove' 'Broxbourne' 'Broxtowe' 'Burnley'
 'Bury' 'Caerphilly' 'Calderdale' 'Cambridge' 'Camden' 'Cannock Chase'
 'Canterbury' 'Caradon' 'Cardiff' 'Carlisle' 'Carmarthenshire' 'Carrick'
 'Castle Morpeth' 'Castle Point' 'Central Bedfordshire' 'Ceredigion'
 'Charnwood' 'Chelmsford' 'Cheltenham' 'Cherwell' 'Cheshire East'
 'Cheshire West and Chester' 'Chester' 'Chester-le-Street' 'Chesterfield'
 'Chichester' 'Chiltern' 'Chorley' 'Christchurch' 'City of London'
 'Clackmannanshire' 'Colchester' 'Congleton' 'Conwy' 'Copeland' 'Corby'
 'Cornwall' 'Cotswold' 'County Durham' 'Coventry' 'Craven' 'Crawley'
 'Crewe and Nantwich' 'Croydon' 'Dacorum' 'Darlington' 'Dartford'
 'Daventry' 'Denbighshire' 'Derby' 'Derbyshire Dales' 'Derwentside'
 'Doncaster' 'Dover' 'Dudley' 'Dumfries and Galloway' 'Dundee City'
 'Durham' 'Ealing' 'Easington' 'East Ayrshire' 'East Cambridgeshire'
 'East Devon' 'East Dorset' 'East Dunbartonshire' 'East Hampshire'
 'East Hertfordshire' 'East Lindsey' 'East Lothian'
 'East Northamptonshire' 'East Renfrewshire' 'East Riding of Yorkshire'
 'East Staffordshire' 'Eastbourne' 'Eastleigh' 'Eden' 'Edinburgh, City of'
 'Ellesmere Port and Neston' 'Elmbridge' 'Enfield' 'Epping Forest'
 'Epsom and Ewell' 'Erewash' 'Exeter' 'Falkirk' 'Fareham' 'Fenland' 'Fife'
 'Flintshire' 'Forest Heath' 'Forest of Dean' 'Fylde' 'Gateshead'
 'Gedling' 'Glasgow City' 'Gloucester' 'Gosport' 'Gravesham'
 'Great Yarmouth' 'Greenwich' 'Guildford' 'Gwynedd' 'Hackney' 'Halton'
 'Hambleton' 'Hammersmith and Fulham' 'Harborough' 'Haringey' 'Harlow'
 'Harrogate' 'Harrow' 'Hart' 'Hartlepool' 'Hastings' 'Havant' 'Havering'
 'Herefordshire, County of' 'Hertsmere' 'High Peak' 'Highland'
 'Hillingdon' 'Hinckley and Bosworth' 'Horsham' 'Hounslow'
 'Huntingdonshire' 'Hyndburn' 'Inverclyde' 'Ipswich' 'Isle of Anglesey'
 'Isle of Wight' 'Islington' 'Kennet' 'Kensington and Chelsea' 'Kerrier'
 'Kettering' "King's Lynn and West Norfolk" 'Kingston upon Hull, City of'
 'Kingston upon Thames' 'Kirklees' 'Knowsley' 'Lambeth' 'Lancaster'
 'Leeds' 'Leicester' 'Lewes' 'Lewisham' 'Lichfield' 'Lincoln' 'Liverpool'
 'London Airport (Heathrow)' 'Luton' 'Macclesfield' 'Maidstone' 'Maldon'
 'Malvern Hills' 'Manchester' 'Mansfield' 'Medway' 'Melton' 'Mendip'
 'Merthyr Tydfil' 'Merton' 'Mid Bedfordshire' 'Mid Devon' 'Mid Suffolk'
 'Mid Sussex' 'Middlesbrough' 'Midlothian' 'Milton Keynes' 'Mole Valley'
 'Monmouthshire' 'Moray' 'Neath Port Talbot' 'New Forest'
 'Newark and Sherwood' 'Newcastle upon Tyne' 'Newcastle-under-Lyme'
 'Newham' 'Newport' 'North Ayrshire' 'North Cornwall' 'North Devon'
 'North Dorset' 'North East Derbyshire' 'North East Lincolnshire'
 'North Hertfordshire' 'North Kesteven' 'North Lanarkshire'
 'North Lincolnshire' 'North Norfolk' 'North Shropshire' 'North Somerset'
 'North Tyneside' 'North Warwickshire' 'North West Leicestershire'
 'North Wiltshire' 'Northampton' 'Northumberland' 'Norwich' 'Nottingham'
 'Nuneaton and Bedworth' 'Oadby and Wigston' 'Oldham' 'Orkney Islands'
 'Oswestry' 'Oxford' 'Pembrokeshire' 'Pendle' 'Penwith'
 'Perth and Kinross' 'Peterborough' 'Plymouth' 'Poole' 'Portsmouth'
 'Powys' 'Preston' 'Purbeck' 'Reading' 'Redbridge' 'Redcar and Cleveland'
 'Redditch' 'Reigate and Banstead' 'Renfrewshire' 'Restormel'
 'Rhondda, Cynon, Taff' 'Ribble Valley' 'Richmond upon Thames'
 'Richmondshire' 'Rochdale' 'Rochford' 'Rossendale' 'Rother' 'Rotherham'
 'Rugby' 'Runnymede' 'Rushcliffe' 'Rushmoor' 'Rutland' 'Ryedale' 'Salford'
 'Salisbury' 'Sandwell' 'Scarborough' 'Scottish Borders' 'Sedgefield'
 'Sedgemoor' 'Sefton' 'Selby' 'Sevenoaks' 'Sheffield' 'Shepway'
 'Shetland Islands' 'Shrewsbury and Atcham' 'Shropshire' 'Slough'
 'Solihull' 'South Ayrshire' 'South Bedfordshire' 'South Bucks'
 'South Cambridgeshire' 'South Derbyshire' 'South Gloucestershire'
 'South Hams' 'South Holland' 'South Kesteven' 'South Lakeland'
 'South Lanarkshire' 'South Norfolk' 'South Northamptonshire'
 'South Oxfordshire' 'South Ribble' 'South Shropshire' 'South Somerset'
 'South Staffordshire' 'South Tyneside' 'Southampton' 'Southend-on-Sea'
 'Southwark' 'Spelthorne' 'St. Albans' 'St. Edmundsbury' 'St. Helens'
 'Stafford' 'Staffordshire Moorlands' 'Stevenage' 'Stirling' 'Stockport'
 'Stockton-on-Tees' 'Stoke-on-Trent' 'Stratford-upon-Avon' 'Stroud'
 'Suffolk Coastal' 'Sunderland' 'Surrey Heath' 'Sutton' 'Swale' 'Swansea'
 'Swindon' 'Tameside' 'Tamworth' 'Tandridge' 'Taunton Deane' 'Teesdale'
 'Teignbridge' 'Telford and Wrekin' 'Tendring' 'Test Valley' 'Tewkesbury'
 'Thanet' 'The Vale of Glamorgan' 'Three Rivers' 'Thurrock'
 'Tonbridge and Malling' 'Torbay' 'Torfaen' 'Torridge' 'Tower Hamlets'
 'Trafford' 'Tunbridge Wells' 'Tynedale' 'Uttlesford' 'Vale Royal'
 'Vale of White Horse' 'Wakefield' 'Walsall' 'Waltham Forest' 'Wandsworth'
 'Wansbeck' 'Warrington' 'Warwick' 'Watford' 'Waveney' 'Waverley'
 'Wealden' 'Wear Valley' 'Wellingborough' 'Welwyn Hatfield'
 'West Berkshire' 'West Devon' 'West Dorset' 'West Dunbartonshire'
 'West Lancashire' 'West Lindsey' 'West Lothian' 'West Oxfordshire'
 'West Somerset' 'West Wiltshire' 'Western Isles' 'Westminster'
 'Weymouth and Portland' 'Wigan' 'Wiltshire' 'Winchester'
 'Windsor and Maidenhead' 'Wirral' 'Woking' 'Wokingham' 'Wolverhampton'
 'Worcester' 'Worthing' 'Wrexham' 'Wychavon' 'Wycombe' 'Wyre'
 'Wyre Forest' 'York']

Local_Authority_(Highway):
 ['Aberdeen City' 'Aberdeenshire' 'Angus' 'Argyll & Bute'
 'Barking and Dagenham' 'Barnet' 'Barnsley' 'Bath and North East Somerset'
 'Bedford' 'Bexley' 'Birmingham' 'Blackburn with Darwen' 'Blackpool'
 'Blaenau Gwent' 'Bolton' 'Bournemouth' 'Bracknell Forest' 'Bradford'
 'Brent' 'Bridgend' 'Brighton and Hove' 'Bristol, City of' 'Bromley'
 'Buckinghamshire' 'Bury' 'Caerphilly' 'Calderdale' 'Cambridgeshire'
 'Camden' 'Cardiff' 'Carmarthenshire' 'Central Bedfordshire' 'Ceredigion'
 'Cheshire East' 'Cheshire West and Chester' 'City of London'
 'Clackmannanshire' 'Conwy' 'Cornwall' 'County Durham' 'Coventry'
 'Croydon' 'Cumbria' 'Darlington' 'Denbighshire' 'Derby' 'Derbyshire'
 'Devon' 'Doncaster' 'Dorset' 'Dudley' 'Dumfries & Galloway' 'Dundee City'
 'Ealing' 'East Ayrshire' 'East Dunbartonshire' 'East Lothian'
 'East Renfrewshire' 'East Riding of Yorkshire' 'East Sussex'
 'Edinburgh, City of' 'Enfield' 'Essex' 'Falkirk' 'Fife' 'Flintshire'
 'Gateshead' 'Glasgow City' 'Gloucestershire' 'Greenwich' 'Gwynedd'
 'Hackney' 'Halton' 'Hammersmith and Fulham' 'Hampshire' 'Haringey'
 'Harrow' 'Hartlepool' 'Havering' 'Herefordshire, County of'
 'Hertfordshire' 'Highland' 'Hillingdon' 'Hounslow' 'Inverclyde'
 'Isle of Anglesey' 'Isle of Wight' 'Isles of Scilly' 'Islington'
 'Kensington and Chelsea' 'Kent' 'Kingston upon Hull, City of'
 'Kingston upon Thames' 'Kirklees' 'Knowsley' 'Lambeth' 'Lancashire'
 'Leeds' 'Leicester' 'Leicestershire' 'Lewisham' 'Lincolnshire'
 'Liverpool' 'London Airport (Heathrow)' 'Luton' 'Manchester' 'Medway'
 'Merthyr Tydfil' 'Merton' 'Middlesbrough' 'Midlothian' 'Milton Keynes'
 'Monmouthshire' 'Moray' 'Na h-Eileanan an Iar (Western Isles)'
 'Neath Port Talbot' 'Newcastle upon Tyne' 'Newham' 'Newport' 'Norfolk'
 'North Ayrshire' 'North East Lincolnshire' 'North Lanarkshire'
 'North Lincolnshire' 'North Somerset' 'North Tyneside' 'North Yorkshire'
 'Northamptonshire' 'Northumberland' 'Nottingham' 'Nottinghamshire'
 'Oldham' 'Orkney Islands' 'Oxfordshire' 'Pembrokeshire'
 'Perth and Kinross' 'Peterborough' 'Plymouth' 'Poole' 'Portsmouth'
 'Powys' 'Reading' 'Redbridge' 'Redcar and Cleveland' 'Renfrewshire'
 'Rhondda, Cynon, Taff' 'Richmond upon Thames' 'Rochdale' 'Rotherham'
 'Rutland' 'Salford' 'Sandwell' 'Scottish Borders' 'Sefton' 'Sheffield'
 'Shetland Islands' 'Shropshire' 'Slough' 'Solihull' 'Somerset'
 'South Ayrshire' 'South Gloucestershire' 'South Lanarkshire'
 'South Tyneside' 'Southampton' 'Southend-on-Sea' 'Southwark' 'St. Helens'
 'Staffordshire' 'Stirling' 'Stockport' 'Stockton-on-Tees'
 'Stoke-on-Trent' 'Suffolk' 'Sunderland' 'Surrey' 'Sutton' 'Swansea'
 'Swindon' 'Tameside' 'Telford and Wrekin' 'The Vale of Glamorgan'
 'Thurrock' 'Torbay' 'Torfaen' 'Tower Hamlets' 'Trafford' 'Wakefield'
 'Walsall' 'Waltham Forest' 'Wandsworth' 'Warrington' 'Warwickshire'
 'West Berkshire' 'West Dunbartonshire' 'West Lothian' 'West Sussex'
 'Westminster' 'Wigan' 'Wiltshire' 'Windsor and Maidenhead' 'Wirral'
 'Wokingham' 'Wolverhampton' 'Worcestershire' 'Wrexham' 'York']

Location_Easting_OSGR:
 [ 64950.  64980.  65350. ... 655370. 655540.     nan]

Location_Northing_OSGR:
 [  10290.   10304.   10404. ... 1205100. 1208800.      nan]

Longitude:
 [-7.516225 -7.515933 -7.509162 ...  1.759398  1.76201        nan]

LSOA_of_Accident_Location:
 ['E01002849' 'E01002909' 'E01002857' ... 'E01032692' 'W01001911'
 'W01001901']

Number_of_Casualties:
 [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 32 33 34 35 36 38 40 41 42 43 45 46 47 48 51 54 58 62 63
 68 70 87 93]

Number_of_Vehicles:
 [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 28 29
 32 34 37 67]

Pedestrian_Crossing-Human_Control:
 [ 0.  1.  2. nan]

Pedestrian_Crossing-Physical_Facilities:
 [ 0.  1.  4.  5.  7.  8. nan]

Police_Force:
 ['Avon and Somerset' 'Bedfordshire' 'Cambridgeshire' 'Central' 'Cheshire'
 'City of London' 'Cleveland' 'Cumbria' 'Derbyshire' 'Devon and Cornwall'
 'Dorset' 'Dumfries and Galloway' 'Durham' 'Dyfed-Powys' 'Essex' 'Fife'
 'Gloucestershire' 'Grampian' 'Greater Manchester' 'Gwent' 'Hampshire'
 'Hertfordshire' 'Humberside' 'Kent' 'Lancashire' 'Leicestershire'
 'Lincolnshire' 'Lothian and Borders' 'Merseyside' 'Metropolitan Police'
 'Norfolk' 'North Wales' 'North Yorkshire' 'Northamptonshire' 'Northern'
 'Northumbria' 'Nottinghamshire' 'South Wales' 'South Yorkshire'
 'Staffordshire' 'Strathclyde' 'Suffolk' 'Surrey' 'Sussex' 'Tayside'
 'Thames Valley' 'Warwickshire' 'West Mercia' 'West Midlands'
 'West Yorkshire' 'Wiltshire']

Road_Surface_Conditions:
 ['Data missing or out of range' 'Dry' 'Flood over 3cm. deep'
 'Frost or ice' 'Snow' 'Wet or damp']

Road_Type:
 ['Data missing or out of range' 'Dual carriageway' 'One way street'
 'Roundabout' 'Single carriageway' 'Slip road' 'Unknown']

Special_Conditions_at_Site:
 ['Auto signal part defective' 'Auto traffic signal - out'
 'Data missing or out of range' 'Mud' 'None' 'Oil or diesel'
 'Road sign or marking defective or obscured' 'Road surface defective'
 'Roadworks']

Speed_limit:
 [ 0. 10. 15. 20. 30. 40. 50. 60. 70. nan]

Time:
 ['17:42' '17:36' '00:15' ... '05:57' '04:26' '01:57']

Urban_or_Rural_Area:
 ['Rural' 'Unallocated' 'Urban']

Weather_Conditions:
 ['Data missing or out of range' 'Fine + high winds' 'Fine no high winds'
 'Fog or mist' 'Other' 'Raining + high winds' 'Raining no high winds'
 'Snowing + high winds' 'Snowing no high winds' 'Unknown']

Year:
 [2005 2006 2007 2008 2009 2010 2011 2012 2013 2014 2015 2016]

InScotland:
 ['No' 'Yes' nan]

In [14]:
vehicles.head()

,Accident_Index,Age_Band_of_Driver,Age_of_Vehicle,Driver_Home_Area_Type,Driver_IMD_Decile,Engine_Capacity_.CC.,Hit_Object_in_Carriageway,Hit_Object_off_Carriageway,Journey_Purpose_of_Driver,Junction_Location,...,Skidding_and_Overturning,Towing_and_Articulation,Vehicle_Leaving_Carriageway,Vehicle_Location.Restricted_Lane,Vehicle_Manoeuvre,Vehicle_Reference,Vehicle_Type,Was_Vehicle_Left_Hand_Drive,X1st_Point_of_Impact,Year
0,200401BS00001,6.0,3.0,1.0,4.0,1588.0,None,0.0,NaN,Data missing or out of range,...,None,No tow/articulation,0.0,0.0,Going ahead other,2,109,Data missing or out of range,1.0,2004
1,200401BS00002,6.0,NaN,1.0,3.0,NaN,None,0.0,NaN,Data missing or out of range,...,None,No tow/articulation,0.0,0.0,Going ahead other,1,109,Data missing or out of range,1.0,2004
2,200401BS00003,6.0,4.0,NaN,NaN,998.0,None,0.0,NaN,Data missing or out of range,...,None,No tow/articulation,0.0,0.0,Turning right,1,109,Data missing or out of range,1.0,2004
3,200401BS00003,10.0,NaN,NaN,NaN,NaN,None,0.0,NaN,Data missing or out of range,...,None,No tow/articulation,0.0,0.0,Going ahead other,2,109,Data missing or out of range,1.0,2004
4,200401BS00004,6.0,1.0,1.0,4.0,124.0,None,0.0,NaN,Data missing or out of range,...,None,No tow/articulation,0.0,0.0,Going ahead other,1,Motorcycle 125cc and under,Data missing or out of range,1.0,2004

In [44]:
vehicles.dtypes

Accident_Index                       object
Age_Band_of_Driver                  float64
Age_of_Vehicle                      float64
Driver_Home_Area_Type               float64
Driver_IMD_Decile                   float64
Engine_Capacity_.CC.                float64
Hit_Object_in_Carriageway            object
Hit_Object_off_Carriageway          float64
Journey_Purpose_of_Driver           float64
Junction_Location                    object
make                                 object
model                                object
Propulsion_Code                     float64
Sex_of_Driver                        object
Skidding_and_Overturning             object
Towing_and_Articulation              object
Vehicle_Leaving_Carriageway         float64
Vehicle_Location.Restricted_Lane    float64
Vehicle_Manoeuvre                    object
Vehicle_Reference                     int64
Vehicle_Type                         object
Was_Vehicle_Left_Hand_Drive          object
X1st_Point_of_Impact                float64
Year                                  int64
dtype: object

In [30]:
for v in vehicles.columns:
    try:
        print('\n'+ v + ':\n', np.sort(vehicles[v].unique()))
    except:
        print('\n'+ v + ':\n', vehicles[v].unique())

Accident_Index:
 ['200401BS00001' '200401BS00002' '200401BS00003' ... '2016984131216'
 '2016984131316' '2016984133416']

Age_Band_of_Driver:
 [ 1.  2.  3.  4.  5.  6.  7.  8.  9. 10. 11. nan]

Age_of_Vehicle:
 [  1.   2.   3.   4.   5.   6.   7.   8.   9.  10.  11.  12.  13.  14.
  15.  16.  17.  18.  19.  20.  21.  22.  23.  24.  25.  26.  27.  28.
  29.  30.  31.  32.  33.  34.  35.  36.  37.  38.  39.  40.  41.  42.
  43.  44.  45.  46.  47.  48.  49.  50.  51.  52.  53.  54.  55.  56.
  57.  58.  59.  60.  61.  63.  64.  65.  66.  67.  68.  69.  70.  71.
  72.  73.  74.  75.  76.  77.  78.  79.  80.  83.  84.  85.  90.  91.
  95. 104. 105. 111.  nan]

Driver_Home_Area_Type:
 [ 1.  2.  3. nan]

Driver_IMD_Decile:
 [ 1.  2.  3.  4.  5.  6.  7.  8.  9. 10. nan]

Engine_Capacity_.CC.:
 [1.0e+00 2.0e+00 3.0e+00 ... 9.1e+04 9.6e+04     nan]

Hit_Object_in_Carriageway:
 ['Any animal (except ridden horse)' 'Bollard or refuge' 'Bridge (roof)'
 'Bridge (side)' 'Central island of roundabout'
 'Data missing or out of range' 'Kerb' 'None' 'Open door of vehicle'
 'Other object' 'Parked vehicle' 'Previous accident' 'Road works']

Hit_Object_off_Carriageway:
 [ 0.  1.  2.  3.  4.  5.  6.  7.  8.  9. 10. 11. nan]

Journey_Purpose_of_Driver:
 [ 1.  2.  3.  4.  5.  6. 15. nan]

Junction_Location:
 ['Approaching junction or waiting/parked at junction approach'
 'Cleared junction or waiting/parked at junction exit'
 'Data missing or out of range' 'Entering from slip road'
 'Entering main road' 'Entering roundabout' 'Leaving main road'
 'Leaving roundabout' 'Mid Junction - on roundabout or on main road'
 'Not at or within 20 metres of junction']

make:
 ['ROVER' 'BMW' 'NISSAN' 'LONDON TAXIS INT' 'PIAGGIO' 'VOLKSWAGEN'
 'MERCEDES' 'FORD' 'DENNIS' 'VAUXHALL' 'MAN' 'VOLVO' 'FIAT' 'RENAULT'
 'AUDI' 'MAZDA' 'HONDA' 'CHRYSLER' 'ISUZU' 'LAND ROVER' 'YAMAHA' 'MINI'
 'KAWASAKI' 'GILERA' 'SAAB' 'CITROEN' 'MASERATI' 'SUBARU' 'DUCATI'
 'BEDFORD' 'PEUGEOT' 'APRILIA' 'LEYLAND' 'MITSUBISHI' 'ALFA ROMEO'
 'SCANIA' 'FERRARI' 'TRIUMPH' 'LEYLAND AEC' 'ITALJET' 'DAEWOO' 'JAGUAR'
 'HARLEY-DAVIDSON' 'SUZUKI' 'SKODA' 'IVECO-FORD' 'TOYOTA' 'AUSTIN' 'IVECO'
 'LEXUS' 'METROCAB' 'DAF' 'MCC' 'JEEP' 'MG' 'MZ' 'TRANSBUS INT'
 'VESPA (DOUGLAS)' 'SEAT' 'BUELL' 'DEMM' 'KTM' 'NEOPLAN' 'HYUNDAI'
 'SEDDON/ATKINSON' 'HONGYI' 'TAIWAN GOLDEN BEE' 'PORSCHE' 'DAIMLER'
 'DI BLASI' 'DAF TRUCKS' 'MOTO GUZZI' 'MCW' 'SYM' 'MORRIS' 'CHEVROLET GMC'
 'SMART' 'ASTON MARTIN' 'KIA' 'ROLLS ROYCE' 'BENTLEY' 'ERF'
 'FORD NEW HOLLAND' 'FODEN' 'LDV' 'ISUZU TRUCKS' 'PROTON' 'THWAITES' 'JCB'
 'CAGIVA' 'SMITHS' 'DAIHATSU' 'LOTUS' 'BENELLI' 'JOHN DEERE' 'TAISHAN'
 'TVR' 'SETRA' 'BSA' 'CASE IH' 'FORDSON' 'CAETANO' 'MANITOU' 'LADA'
 'LEYLAND DAF' 'ADLY' 'MOTOR HISPANIA' 'LANCIA' 'AUSTIN MORRIS' 'DAELIM'
 'RELIANT' 'Z Y MOTOR' 'MICROCAR' 'APPLIED SWEEPER' 'IRIS.BUS' 'MBK'
 'LAMBRETTA' 'ZASTAVA' 'VANDEN PLAS' 'WESTFIELD' 'OPEL' 'DODGE'
 'SSANGYONG' 'DATSUN' 'HYOSUNG' 'CCM' 'NORTON' 'SIAMOTO' 'KYMCO'
 'CADILLAC' 'TALBOT' 'LAMBORGHINI' 'HER CHE' 'MODENAS' 'TATA'
 'MASSEY FERGUSON' 'BUICK' 'HILLMAN' 'W+E' 'NEW HOLLAND' 'HUSABERG'
 'MAN/VW' 'STEYR' 'MV AGUSTA' 'CLAAS' 'LEYLAND NATIONAL' 'ZETOR' 'BATAVUS'
 'OPTARE' 'BRISTOL (BLMC)' 'PONTIAC' 'KUBOTA' 'BAROSSA' 'FREIGHT ROVER'
 'MALAGUTI' 'CROMPTON (LEYLAND)' 'ROYAL ENFIELD' 'LAVERDA' 'LIFAN'
 'LINCOLN' 'MCCORMICK' 'PERODUA' 'WOLSELEY' 'SAME' 'DERBI' 'GAS GAS'
 'RANSOME' 'CATERPILLAR' 'PUCH' 'RIEJU' 'DAVID BROWN' 'VELOCETTE' 'CZ'
 'HONGDOU' 'HINO' 'SUNBEAM' 'ALL WHEEL DRIVE' 'LEYLAND CARS' 'CATERHAM'
 'SAVIEM' 'AJS' 'AIXAM' 'NIPPI' 'SINSKI' 'SACHS' 'MOTOBECANE'
 'AUSTIN HEALEY' 'BETA' 'FENDT' 'LANDINI' 'BENFORD' 'SCHMIDT' 'CHITUMA'
 'GROVE' 'SHE LUNG' 'INT. HARVESTER' 'KINLON' 'KATO' 'FANTIC MOTOR'
 'FSO CARS' 'SHERCO' 'SMC' 'ELECTRICARS' 'SUKIDA' 'EASY RIDER' 'CHUNLAN'
 'FEIYING' 'AUTO-TRAIL' 'MOTO ROMA' 'LEYLAND REDLINE' 'VALMET' 'CASE'
 'TRIGANO' 'CI MOTORHOME' 'MERLO' 'JOHN ALLEN' 'DEUTZ FAHR' 'DODGE (USA)'
 'SKYWING' 'KAZUMA' 'MATBRO' 'PGO' 'SINGER' 'BMC' 'UVM' 'VULCAN'
 'HUSQVARNA' 'SANYANG' 'BOND' 'RALEIGH' 'PEGASO' 'HARTFORD' 'THINK'
 'MERCURY' 'OLDSMOBILE' 'EGO' 'JENSEN' 'SIMCA' 'GINETTA' 'KANUNI' 'RILEY'
 'ASIA' 'MORGAN' 'MARSHALL' 'BIMOTA' 'PANTHER' 'STOTHERT AND PITT' 'SECMA'
 'KOMATSU' 'TOMOS' 'BAJAJ' 'LIEBHERR' 'AEON' 'JIALING' 'URSUS' 'UMM'
 'CARBODIES' 'AVELING BARFORD' 'ALEXANDER DENNIS' 'CHEVROLET' 'GIANTCO'
 'OXYGEN' 'BRANSON' 'LANSING LINDE' 'BAOTIAN' 'EBRO' 'GEELY' 'SANTANA'
 'JINLUN' 'BOMAG' 'DAKAR' 'VDL' 'LEYLAND AM' 'KINROAD' 'SCAMMELL'
 'XINLING' 'CKR' 'MAXUS' 'DAJIANG' 'CPI' 'FMC' 'MONTESA' 'INFINITI'
 'BELARUS' 'URAL' 'VICTORY' 'DENNIS FIRE' 'SKYTEAM' 'NUFFIELD'
 'RENAULT TRUCKS' 'HIMO' 'IVECO FORD' 'REWACO' 'LINHAI' 'MORINI' 'JAWA'
 'COMMER' 'BRITISH TRACKSTAR' 'COUNTY COMM CARS' 'MATCHLESS' 'DOUGLAS'
 'BOOM' 'SD' 'REVA' 'BETTER' 'ISEKI' 'DIRT PRO' 'FYM' 'EVT' 'BASHAN'
 'GRINNALL' 'YUAN' 'QINGQI' 'BONSER' 'YIYING' 'CLAYTON' 'SUPERBYKE'
 'DINLI' 'STARWAY' 'SHINERAY' 'KINETIC' 'THUMPSTAR' 'KEEN' 'XINGYUE'
 'ZHONGNENG' 'MARTIN CONQUEST' 'KASSBOHRER' 'ACURA' 'FARBOUD' 'VAN HOOL'
 'POLARIS' 'HUONIAO' 'XINTIAN' 'YIBEN MEIDUC' 'ROVIGO' 'MIG' 'BUGATTI'
 'VOR' 'NEVAL' 'HYSTER' 'ATALA' 'AXR' 'UNIVERSAL' 'WINGET' 'VALTRA'
 'LONCIN' 'ROADLESS' 'MARCOS' 'MITSUBISHI FUSO' 'TAMORETTI' 'HAOTIAN'
 'HUMMER' 'HUATIAN' 'WANGYE' 'BOMBARDIER' 'LONGJIA' 'SKYJET' 'PIONEER'
 'KAISAR' 'SCORPA' 'NORTON VILL. TRIUMPH' 'YAMATI' 'DAYUN' 'SANLI' 'SONIK'
 'AUTOSAN' 'KEEWAY' 'CAN-AM' 'SITCAR' 'AVIA' 'SANILI' 'DAYANG' 'RHON'
 'WUYANG' 'JM STAR' 'VENTURI' 'BOVA' 'ZNEN' 'JOHNSTON SWEEPERS' 'JONWAY'
 'MODEC' 'MAGIRUS DEUTZ' 'ZONGSHEN' 'HURLIMANN' 'STUART TAYLOR' 'GENERIC'
 'SKYGO' 'MOTO MORINI' 'NORTON VILLIERS' 'SANYA' 'CLASSIC CUSTOM' 'KANGDA'
 'URBAN' 'POR' 'HUMBER' 'JUNGHEINRICH' 'QUADZILLA' 'ACCESS' 'MAGNI'
 'PLYMOUTH' 'HOLDEN' 'SANBEN' 'VECTRIX' 'EXPLORER' 'TEMSA' 'DI BLASSI'
 'DAIFO' 'LML' 'PULSE' 'REGENT' 'ABARTH' 'FOSTI' 'ZHENHUA' 'BTM' 'HUASHA'
 'MEGELLI' 'TEC' 'KARRIER' 'GROVE COLES' 'LEXMOTO' 'CH RACING' 'JAMES'
 'ZENNCO' 'KINGTON' 'JORDAN' 'MOBYLETTE' 'CSR' 'BARON' 'LEIKE' 'SHENKE'
 'TM' 'COSSACK' 'POCLAIN' 'BEELINE' 'AEBI' 'BRIT JEFFREY DIAMOND' 'SHIRE'
 'JINCHENG' 'WARRIOR' 'WHITE KNUCKLE' 'SFMM' 'MUIR-HILL' 'NSU' 'MAYBACH'
 'WRIGHTBUS' 'KING LONG' 'NECO' 'LIGIER' 'JIANSHE' 'CF MOTO' 'EOS'
 'ZONTES' 'NECHT' 'HANWAY' 'GARELLI' 'ORION' 'AC (ELECTRIC)' 'WARTBURG'
 'TONG YANG' 'SWAP' 'WK BIKES' 'BCS' 'BITELLI' 'JAXIN' 'BARONI'
 'VERTEMATI' 'BRISTOL' 'TESLA' 'DACIA' 'FOREST RIVER' 'CASAL' 'GSMOON'
 'HERALD MOTOR COMPANY' 'JCM' 'SFM' 'NIPPONIA' 'GREAT WALL' 'JACOBSEN'
 'MOTOR JIKOV' 'SUZUKO' 'SINNIS' 'XGJAO' 'CHONGQING' 'KSR MOTO' 'AJP'
 'MOTOBI' 'CTM' 'MGXPOWER' 'KIOTI' 'INDIAN' 'CHAUSSON' nan 'MOTORINI'
 'DFSK' 'VDL BOVA' 'HONLEY' 'PILOTE' 'DS' 'AGRIFAC' 'IRIZAR' 'MAHINDRA'
 'OTHER BRITISH' 'LONDON TAXIS INT.' 'OTHER ITALIAN' 'TGB'
 'OTHER AGRIC/CONSTRUCTIONAL' 'SCUTUM' 'OTHER FRENCH' 'MOTORHISPANIA'
 'BULLIT' 'ZHONGYU' 'CASE INTERNATIONAL' 'RIS BUS' 'MCLAREN' 'SCOMADI'
 'KASEA' 'YUTONG' 'TAFE' 'ETON' 'OVER' 'HUONIAU' 'JINLIN' 'CIMOTORHOME'
 'YIBEN MEIDUO' 'CHAMP' 'OTHER COUNTRIES' 'ENFIELD' 'OTHER US/AUST/CAN'
 'JIM STAR' 'ERIDER' 'OTHER ELECTRIC' 'HYMER' 'R-VISION' 'BULTACO'
 'OTHER JAPANESE/ASIAN' 'ERIK BUELL RACING']

model:
 ['45 CLASSIC 16V' 'C1' 'MICRA CELEBRATION 16V' ...
 'HILUX VIGO G D4-D AUTO' 'SOLO M1030' 'DAILY 35 C14 MWB']

Propulsion_Code:
 [ 1.  2.  3.  4.  5.  6.  7.  8.  9. 10. 11. 12. nan]

Sex_of_Driver:
 ['Data missing or out of range' 'Female' 'Male' 'Not known']

Skidding_and_Overturning:
 ['Data missing or out of range' 'Jackknifed' 'Jackknifed and overturned'
 'None' 'Overturned' 'Skidded' 'Skidded and overturned']

Towing_and_Articulation:
 ['Articulated vehicle' 'Caravan' 'Data missing or out of range'
 'Double or multiple trailer' 'No tow/articulation' 'Other tow'
 'Single trailer']

Vehicle_Leaving_Carriageway:
 [ 0.  1.  2.  3.  4.  5.  6.  7.  8. nan]

Vehicle_Location.Restricted_Lane:
 [ 0.  1.  2.  3.  4.  5.  6.  7.  8.  9. nan]

Vehicle_Manoeuvre:
 ['Changing lane to left' 'Changing lane to right'
 'Data missing or out of range' 'Going ahead left-hand bend'
 'Going ahead other' 'Going ahead right-hand bend' 'Moving off'
 'Overtaking - nearside' 'Overtaking moving vehicle - offside'
 'Overtaking static vehicle - offside' 'Parked' 'Reversing'
 'Slowing or stopping' 'Turning left' 'Turning right' 'U-turn'
 'Waiting to go - held up' 'Waiting to turn left' 'Waiting to turn right']

Vehicle_Reference:
 [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48
 49 50 51 53 54 55 56 57 58 60 61 63 64 66 91]

Vehicle_Type:

 ['106' '108' '109' 'Agricultural vehicle'
 'Bus or coach (17 or more pass seats)' 'Car'
 'Data missing or out of range' 'Electric motorcycle'
 'Goods 7.5 tonnes mgw and over' 'Goods over 3.5t. and under 7.5t'
 'Goods vehicle - unknown weight' 'Minibus (8 - 16 passenger seats)'
 'Mobility scooter' 'Motorcycle - unknown cc' 'Motorcycle 125cc and under'
 'Motorcycle 50cc and under' 'Motorcycle over 125cc and up to 500cc'
 'Motorcycle over 500cc' 'Other vehicle' 'Pedal cycle' 'Ridden horse'
 'Taxi/Private hire car' 'Tram' 'Van / Goods 3.5 tonnes mgw or under']

Was_Vehicle_Left_Hand_Drive:
 ['Data missing or out of range' 'No' 'Yes']

X1st_Point_of_Impact:
 [ 0.  1.  2.  3.  4. nan]

Year:
 [2004 2005 2006 2007 2008 2009 2010 2011 2012 2013 2014 2015 2016]

In [48]:
vehicles.groupby(['Accident_Index']).count()

,Age_Band_of_Driver,Age_of_Vehicle,Driver_Home_Area_Type,Driver_IMD_Decile,Engine_Capacity_.CC.,Hit_Object_in_Carriageway,Hit_Object_off_Carriageway,Journey_Purpose_of_Driver,Junction_Location,make,...,Skidding_and_Overturning,Towing_and_Articulation,Vehicle_Leaving_Carriageway,Vehicle_Location.Restricted_Lane,Vehicle_Manoeuvre,Vehicle_Reference,Vehicle_Type,Was_Vehicle_Left_Hand_Drive,X1st_Point_of_Impact,Year
Accident_Index,,,,,,,,,,,,,,,,,,,,,
200401BS00001,1,1,1,1,1,1,1,0,1,1,...,1,1,1,1,1,1,1,1,1,1
200401BS00002,1,0,1,1,0,1,1,0,1,1,...,1,1,1,1,1,1,1,1,1,1
200401BS00003,2,1,0,0,1,2,2,0,2,2,...,2,2,2,2,2,2,2,2,2,2
200401BS00004,2,2,1,1,2,2,2,0,2,2,...,2,2,2,2,2,2,2,2,2,2
200401BS00009,1,0,1,1,0,1,1,0,1,1,...,1,1,1,1,1,1,1,1,1,1
200401BS00010,1,0,1,1,0,1,1,0,1,1,...,1,1,1,1,1,1,1,1,1,1
200401BS00012,1,1,0,0,1,1,1,0,1,1,...,1,1,1,1,1,1,1,1,1,1
200401BS00013,2,2,2,2,2,2,2,0,2,2,...,2,2,2,2,2,2,2,2,2,2
200401BS00021,1,1,0,0,1,1,1,0,1,1,...,1,1,1,1,1,1,1,1,1,1
200401BS00022,1,1,0,0,1,1,1,0,1,1,...,1,1,1,1,1,1,1,1,1,1
200401BS00028,0,1,0,0,0,1,1,0,1,1,...,1,1,1,1,1,1,1,1,1,1
200401BS00030,0,1,1,1,1,1,1,0,1,1,...,1,1,1,1,1,1,1,1,1,1
200401BS00033,0,0,0,0,0,1,1,0,1,1,...,1,1,1,1,1,1,1,1,1,1
200401BS00038,1,1,1,1,1,1,1,0,1,1,...,1,1,1,1,1,1,1,1,1,1
200401BS00041,1,0,1,1,0,1,1,0,1,1,...,1,1,1,1,1,1,1,1,0,1
200401BS00044,0,1,1,1,1,1,1,0,1,1,...,1,1,1,1,1,1,1,1,1,1
200401BS00045,1,1,0,0,1,1,1,0,1,1,...,1,1,1,1,1,1,1,1,1,1
200401BS00048,1,1,0,0,1,1,1,0,1,1,...,1,1,1,1,1,1,1,1,1,1
200401BS00050,1,1,1,1,1,1,1,0,1,1,...,1,1,1,1,1,1,1,1,1,1
200401BS00051,1,1,1,1,1,1,1,0,1,1,...,1,1,1,1,1,1,1,1,1,1
200401BS00052,1,1,1,1,1,1,1,0,1,1,...,1,1,1,1,1,1,1,1,1,1
200401BS00053,0,1,0,0,1,1,1,0,1,1,...,1,1,1,1,1,1,1,1,1,1
200401BS00059,1,1,1,1,1,1,1,0,1,1,...,1,1,1,1,1,1,1,1,1,1
200401BS00061,0,1,0,0,1,1,1,0,1,1,...,1,1,1,1,1,1,1,1,0,1
200401BS00064,1,0,1,1,0,1,1,0,1,1,...,1,1,1,1,1,1,1,1,1,1
200401BS00065,1,0,1,1,0,1,1,0,1,1,...,1,1,1,1,1,1,1,1,1,1
200401BS00069,1,1,1,0,1,2,2,0,2,2,...,2,2,2,2,2,2,2,2,2,2
200401BS00075,1,1,1,1,0,1,1,0,1,1,...,1,1,1,1,1,1,1,1,1,1
200401BS00078,1,1,1,0,1,1,1,0,1,1,...,1,1,1,1,1,1,1,1,1,1
200401BS00080,0,1,0,0,1,1,1,0,1,1,...,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016984124216,2,2,2,0,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
2016984124316,1,1,2,1,1,2,2,2,2,1,...,2,2,2,2,2,2,2,2,2,2
2016984124516,2,2,2,0,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
2016984124616,2,1,2,0,1,2,2,2,2,1,...,2,2,2,2,2,2,2,2,2,2
2016984125116,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2016984125316,1,1,1,0,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2016984125416,2,1,0,0,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
2016984125516,1,0,1,0,0,3,3,3,3,0,...,3,3,3,3,3,3,3,3,3,3
2016984125716,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2016984125916,2,2,2,0,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
2016984126016,2,2,2,1,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
2016984126316,2,1,2,1,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
2016984126416,2,1,2,2,1,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
2016984126716,2,2,2,1,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
2016984126816,3,3,3,1,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
2016984126916,1,1,1,0,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2016984127816,2,2,2,0,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
2016984128616,2,1,2,1,1,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
2016984128816,1,1,1,0,1,2,2,2,2,1,...,2,2,1,1,2,2,2,2,1,2
2016984129716,2,1,2,1,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
2016984129916,2,2,2,1,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
2016984130316,1,1,1,0,1,2,2,1,2,1,...,2,2,1,2,2,2,2,2,1,2
2016984130516,1,1,1,0,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2016984130616,2,2,2,0,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
2016984130816,2,1,1,0,1,2,2,2,2,1,...,2,2,2,2,2,2,2,2,2,2
2016984130916,1,2,1,0,2,2,2,1,2,2,...,2,2,2,2,2,2,2,2,2,2
2016984131116,2,1,2,0,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
2016984131216,1,0,1,1,0,1,1,1,1,0,...,1,1,1,1,1,1,1,1,1,1
2016984131316,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2016984133416,1,1,1,0,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1